[submodule "qr-code-component-frontendMentor"]
	path = qr-code-component-frontendMentor
	url = https://github.com/Saeed-Abedini/QR-code-component-frontendMentor.git
[submodule "blog-preview-card-frontendmentor"]
	path = blog-preview-card-frontendmentor
	url = https://github.com/Saeed-Abedini/Blog-preview-card-frontendMentor.git
[submodule "ip-address-tracker-frontendmentor"]
	path = ip-address-tracker-frontendmentor
	url = https://github.com/Saeed-Abedini/ip-address-tracker-frontendMentor.git
[submodule "stats-preview-card-frontendmentor"]
	path = stats-preview-card-frontendmentor
	url = https://github.com/Saeed-Abedini/stats-preview-card-frontendmentor.git
